body {
    font-size: 14px; 
    background-color: black; 
    background: url(splashes/assets/android/xhdpi.9.png) #000 center; 
    background-repeat: no-repeat; 
    background-attachment: cover; 
    background-size: contain;
}
a#start-link {
display: block;
position: absolute;
width: 100%;
height: 100%;
text-align: center;
}

a#start-link img {
    max-width: 100vw;
    max-height: 100vh;
}
